@charset "UTF-8";

/*
APP MAIN STYLE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.p-4 {
  padding: 4rem;
}

.p-3 {
  padding: 3rem;
}

.p-2 {
  padding: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-50 {
  margin-bottom: 0.5rem;
}

.fs-75 {
  font-size: 0.75rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .card {
  width: 25%;
}

.cards .card h5 {
  color: grey;
}

.cards .card span {
  color: darkred;
}

