.container {
    max-width: 1170px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.p-4 {
    padding: 4rem;
}

.p-3 {
    padding: 3rem;
}

.p-2 {
    padding: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-50 {
    margin-bottom: .5rem;
}

.fs-75 {
    font-size: .75rem;
}